.blog{
    background-color: rgb(220, 255, 252);
    padding: 100px 0;
}
.blog__title{
    text-align: center;
    h3{
        margin: 0;
        padding: 0;
    }
    p{
        font-size: 20px;
        width: 600px;
        margin: 0 auto;
        margin-bottom: 100px;
    }
}
.blog__column{
}
.blog__column_block{
    display: flex;
    justify-content: center;
}
.blog__column_img{
    width: 45%;
    margin-right: 50px;
    img{
        width: 100%;
        display: block;
    }
}
.blog__column_text{
    width: 45%;
    font-size: 20px;
    text-align: left;
}
    
.blog__column_text_date{
    display: flex;
    vertical-align: middle;
    img{
        margin-right: 10px;
        width: 15px;
        height: 15px;
    }
    :nth-child(3){
        margin-left: 40px;
    }
    p{
        line-height: 20px;
        margin: 0;
        padding: 0;
    }
}
