.blog{
    background-color: rgb(220, 255, 252);
    padding: 100px 0;
}
.blog__title{
    text-align: center;
    h3{
        margin: 0;
        padding: 0;
    }
    p{
        font-size: 20px;
        width: 600px;
        margin: 0 auto;
        margin-bottom: 100px;
    }
}
.blog__column{
    margin: 0 100px;
}
.blog__column__block{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.blog__column__block__img img{
    margin: 0 100px 0 0;
    width: 85%;
}
.blog__column__block__img_second img{
    margin: 0 0 0 100px;
}
.blog__column__block__text{
    text-align: left;
    p{
        font-size: 20px;
        width: 700px;
    }
}
.blog__column__data{
    display: inline-flex;
    img{
        width: 20px;
        height: 20px;
    }
    p{
        margin: 0 40px 0 10px;
        width: 100%;
    }
}

