.pricing_plan{
    background-color: rgb(238, 238, 238);
}
.pricing_plan__text{
    text-align: center;
    padding: 100px 0;
    p{
        font-size: 20px;
        margin: 0 auto;
        width: 800px;
    }
}
.pricing_plan__column{
    display: flex;
    justify-content: center;
}
.pricing_plan__column__block{
    background-color: white;
}
.pricing_plan__column__block__content{
    text-align: center;
    li{
        list-style-type: none;
    }
}