.pricing_plan{
    background-color: rgb(238, 238, 238);
}
.pricing_plan__text{
    text-align: center;
    padding: 100px 0;
    p{
        font-size: 20px;
        margin: 0 auto;
        width: 800px;
    }
}
.pricing_plan__column{
    display: flex;
    justify-content: center;
    margin: 0 100px;
}
.pricing_plan__column__block{
    position: relative;
    background-color: white;
    width: 33.333%;
    overflow: hidden;
    margin: 0 20px 200px 20px;
    transition: .5s linear;
}

.pricing_plan__column__block__decor{
    position: absolute;
    width: 1000px;
    height: 300px;
    top: -100px;
    left: -50px;
    background-color: rgb(49, 72, 175);
    transform: rotate(-5deg);
}
.pricing_plan__column__block__title{
    position: relative;  
    text-align: center;
    color: white;
    
    margin: 50px auto; 
    span{
        font-size: 80px;
    }
    sup{
        font-size: 30px;
    }
    h3{
        margin: 0;
    }
    p{
        letter-spacing: 2px;
        margin: 0;
        padding: 0;
    }
}
.pricing_plan__column__block__content{
    margin: 50px auto 100px auto;
    li{
        text-align: center;
        margin: 20px 30%;
        color: rgb(139, 139, 139);
        list-style-type: none;
        border-bottom: 2px solid rgb(139, 139, 139);
    }
    ul{
        padding: 0;
    }
}
.pricing_plan__column__block__button{
    text-align: center;
    margin-bottom: 50px;
    a{
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        border: 2px solid black;
        padding: 10px 20px;
        letter-spacing: 5px;
        transition: .5s linear;
    }
}
.pricing_plan__column__block:hover{
    box-shadow: 0px 0px 20px 10px rgb(165, 165, 165);
    transform: scale(1.1);
    .pricing_plan__column__block__button a{
        background-color: rgb(1, 139, 121);
        border: 2px solid rgb(1, 139, 121);
        color: white;
    }
}