.top_block h1,h5{
    margin: 0;
    padding-top: 50px;
}
.top_block{
    position: relative;
    height: 600px;
    background-image: url(../img/background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}
