@import "header";
@import "top_block";
@import "about_block";
@import "our_services";
@import "latest_works";
@import "pricing_plan";
@import "our_team";
@import "blog";
@import "contact_us";

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;600&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.page{
    min-width: 1448px;
    font-family: 'Teko';
    font-size: 25px;
}
