@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;600&display=swap");
.header {
  height: 100px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  line-height: 100px;
}

.header__nav__logo {
  margin: 0 100px;
  font-size: 30px;
  font-weight: 600;
}

.header__nav__main-menu {
  margin: 0 100px;
}

.header__nav__main-menu a {
  text-decoration: none;
  color: black;
  margin: 0 20px;
  letter-spacing: 2px;
}

.header__nav__main-menu img {
  position: absolute;
  width: 20px;
  top: 40px;
}

.top_block__content {
  margin: 0;
  padding-top: 60px;
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.top_block__title h1 {
  margin: 0;
}

.top_block__sub-title h5 {
  margin: 0;
}

.top_block {
  position: relative;
  height: 600px;
  background: url(../img/background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: white;
}

.top_block__button {
  text-align: center;
  margin: 150px;
}

.top_block__button a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.top_block__button__left {
  border: 2px solid white;
  padding: 10px 30px;
  margin-right: 20px;
}

.top_block__button__right {
  background-color: #01a79e;
  padding: 12px 32px;
}

.top_block__arrow {
  width: 15px;
  height: 15px;
  margin: 0 auto;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  transform: rotate(-45deg);
}

.about_block {
  margin: 150px 100px;
}

.about_us__block_title {
  margin-bottom: 100px;
  color: black;
  text-align: center;
}

.about_us__sub-title {
  width: 800px;
  margin: 0 auto;
  font-size: 20px;
}

.about_block__column {
  display: flex;
}

.column__about_us {
  position: relative;
  width: 33.333333333333333333%;
  margin: 0 20px;
}

.column__about_us__img img {
  width: 50px;
  display: block;
  margin: 0 auto;
}

.column__about_us__text {
  text-align: center;
  margin: 20px auto;
}

.column__about_us__title {
  font-weight: 600;
}

.column__about_us__subtitle {
  margin: 0 5px;
  font-size: 20px;
}

.our_services {
  background-color: #dcfffc;
  margin: 150px 0;
}

.services__text {
  text-align: center;
  padding: 200px 0 100px 0;
}

.services__text__sub-title {
  font-size: 20px;
  margin: 0 auto;
  width: 700px;
}

.services__column {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-bottom: 150px;
  justify-content: center;
}

.services__column__block {
  background-color: white;
  width: 28%;
  margin: 15px 15px;
  text-align: center;
  transition: .5s linear;
}

.services__column__icon img {
  width: 50px;
  margin: 50px auto;
  display: block;
}

.services__column__icon img:nth-child(1) {
  display: none;
}

.services__column__text p {
  font-size: 20px;
  margin: 0 100px;
}

.services__column__button {
  margin: 50px auto;
}

.services__column__button a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: black;
  padding: 10px 20px;
  border: 2px solid black;
}

.services__column__block:hover {
  background-color: #018b79;
  color: white;
  box-shadow: 0px 10px 30px 10px #a8a8a8;
}

.services__column__block:hover .services__column__button a {
  border: 2px solid white;
  color: white;
}

.services__column__block:hover img:nth-child(1) {
  display: block;
}

.services__column__block:hover img:nth-child(2) {
  display: none;
}

.latest_works__text {
  text-align: center;
}

.latest_works__text p {
  font-size: 20px;
  width: 800px;
  margin: 0 auto;
}

.latest_works__buttons {
  margin: 100px auto;
  text-align: center;
}

.latest_works__buttons a {
  text-decoration: none;
  color: black;
  letter-spacing: 5px;
  text-transform: uppercase;
  border: 2px solid #018b79;
  margin: 0 10px;
  padding: 10px 20px;
  transition: .2s linear;
}

.latest_works__buttons a:hover {
  background-color: #018b79;
  color: white;
}

.latest_works__img {
  display: flex;
  flex-wrap: wrap;
  margin: 0 70px;
  justify-content: center;
}

.latest_works__img__block {
  margin: 20px;
  width: 28%;
}

.latest_works__img__block img {
  width: 100%;
}

.latest_works__img__block :hover .latest_works__img__block__text {
  top: -2%;
}

.latest_works__image {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0 0 -5px 0;
}

.latest_works__img__block__text {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(92, 92, 92, 0.822);
  text-align: center;
  top: -100%;
  transition: .3s linear;
}

.latest_works__img__block__text h3 {
  margin: 150px 0 0 0;
}

.latest_works__img__block__text p {
  margin: 0;
  font-size: 20px;
}

.latest_works__button-end {
  margin: 150px auto;
  text-align: center;
}

.latest_works__button-end a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #018b79;
  text-align: center;
  padding: 10px 20px;
  letter-spacing: 5px;
}

.pricing_plan {
  background-color: #eeeeee;
}

.pricing_plan__text {
  text-align: center;
  padding: 100px 0;
}

.pricing_plan__text p {
  font-size: 20px;
  margin: 0 auto;
  width: 800px;
}

.pricing_plan__column {
  display: flex;
  justify-content: center;
  margin: 0 100px;
}

.pricing_plan__column__block {
  position: relative;
  background-color: white;
  width: 33.333%;
  overflow: hidden;
  margin: 0 20px 200px 20px;
  transition: .5s linear;
}

.pricing_plan__column__block__decor {
  position: absolute;
  width: 1000px;
  height: 300px;
  top: -100px;
  left: -50px;
  background-color: #3148af;
  transform: rotate(-5deg);
}

.pricing_plan__column__block__title {
  position: relative;
  text-align: center;
  color: white;
  margin: 50px auto;
}

.pricing_plan__column__block__title span {
  font-size: 80px;
}

.pricing_plan__column__block__title sup {
  font-size: 30px;
}

.pricing_plan__column__block__title h3 {
  margin: 0;
}

.pricing_plan__column__block__title p {
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}

.pricing_plan__column__block__content {
  margin: 50px auto 100px auto;
}

.pricing_plan__column__block__content li {
  text-align: center;
  margin: 20px 30%;
  color: #8b8b8b;
  list-style-type: none;
  border-bottom: 2px solid #8b8b8b;
}

.pricing_plan__column__block__content ul {
  padding: 0;
}

.pricing_plan__column__block__button {
  text-align: center;
  margin-bottom: 50px;
}

.pricing_plan__column__block__button a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  letter-spacing: 5px;
  transition: .5s linear;
}

.pricing_plan__column__block:hover {
  box-shadow: 0px 0px 20px 10px #a5a5a5;
  transform: scale(1.1);
}

.pricing_plan__column__block:hover .pricing_plan__column__block__button a {
  background-color: #018b79;
  border: 2px solid #018b79;
  color: white;
}

.our_team__text {
  text-align: center;
  padding: 100px 0;
}

.our_team__text h3 {
  margin: 0;
}

.our_team__text p {
  font-size: 20px;
  margin: 0;
}

.our_team__column {
  display: flex;
  justify-content: center;
}

.our_team__column__block {
  width: 33.333%;
}

.our_team__column__photo img {
  width: 300px;
  margin: 0 auto;
  display: block;
  border-radius: 25px;
}

.our_team__column__name {
  padding: 20px 0;
  text-align: center;
}

.our_team__column__name h4 {
  margin: 0;
}

.our_team__column__name p {
  margin: 0;
  font-size: 20px;
}

.our_team__column__icons {
  display: flex;
}

.our_team__column__icons__img {
  margin: 0 auto;
}

.our_team__column__icons__img img {
  border-radius: 10px;
  width: 50px;
  margin: 0  5px;
  display: inline-block;
}

.our_team__dots {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.our_team__dots .our_team__dots__dot {
  width: 20px;
  height: 20px;
  background-color: #018b79;
  border-radius: 50%;
  margin: 0 5px;
}

.our_team__column__icons__img:hover img {
  cursor: pointer;
}

.our_team__dots__dot:hover {
  background-color: blue;
}

.blog {
  background-color: #dcfffc;
  padding: 100px 0;
}

.blog__title {
  text-align: center;
}

.blog__title h3 {
  margin: 0;
  padding: 0;
}

.blog__title p {
  font-size: 20px;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.blog__column_block {
  display: flex;
  justify-content: center;
}

.blog__column_img {
  width: 45%;
  margin-right: 50px;
}

.blog__column_img img {
  width: 100%;
  display: block;
}

.blog__column_img_second {
  margin: 0 0 0 50px;
}

.blog__column_text {
  width: 45%;
  font-size: 20px;
  text-align: left;
}

.blog__column_text h3:hover {
  color: #018b79;
  cursor: pointer;
}

.blog__column_text_date {
  display: flex;
  vertical-align: middle;
}

.blog__column_text_date img {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.blog__column_text_date :nth-child(3) {
  margin-left: 40px;
}

.blog__column_text_date p {
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.blog__column_text_discription {
  width: 700px;
}

.blog__button {
  margin-top: 100px;
  text-align: center;
  text-align: center;
}

.blog__button a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #018b79;
  text-align: center;
  padding: 10px 20px;
  letter-spacing: 5px;
}

.contact_us {
  background-image: url(../img/human-computer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.contact_us__title {
  text-align: center;
  padding: 100px 0;
}

.contact_us__title p {
  font-size: 20px;
  margin: 0 400px;
}

.contact_us__icons {
  display: flex;
  justify-content: center;
}

.contact_us__icons__block {
  width: 30%;
}

.contact_us__icons__block img {
  display: block;
  width: 150px;
  margin: 0 auto;
}

.contact_us__icons__block p {
  text-align: center;
}

.contact_us__form {
  width: 100%;
}

.contact_us__form__block {
  display: flex;
  justify-content: center;
}

.contact_us__form__block input {
  width: 500px;
  height: 50px;
  margin: 20px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Teko';
}

.contact_us__form__block ::placeholder {
  font-size: 20px;
  font-family: 'Teko';
  letter-spacing: 3px;
  padding-left: 10px;
}

.contact_us__form__textarea {
  width: 1040px;
  margin: 0 auto;
}

.contact_us__form__textarea textarea {
  border-radius: 10px;
  width: 100%;
  font-size: 20px;
  font-family: 'Teko';
  resize: none;
  padding-top: 10px;
}

.contact_us__form__textarea ::placeholder {
  font-size: 20px;
  font-family: 'Teko';
  letter-spacing: 3px;
  padding-top: 10px;
  padding-left: 10px;
}

.contact_us__form__send-button input {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin-left: 895px;
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 20px;
  font-family: 'Teko';
  letter-spacing: 3px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1448px;
  font-family: 'Teko';
  font-size: 25px;
}

footer {
  background-color: white;
  text-align: center;
}

footer p {
  margin: 0;
}
