@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;600&display=swap");
.header {
  height: 100px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  line-height: 100px;
}

.header__nav__logo {
  margin: 0 100px;
  font-size: 30px;
  font-weight: 600;
}

.header__nav__main-menu {
  margin: 0 100px;
}

.header__nav__main-menu a {
  text-decoration: none;
  color: black;
  margin: 0 20px;
  letter-spacing: 2px;
}

.header__nav__main-menu img {
  position: absolute;
  width: 20px;
  top: 40px;
}

.top_block__content {
  margin: 0;
  padding-top: 60px;
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.top_block__title h1 {
  margin: 0;
}

.top_block__sub-title h5 {
  margin: 0;
}

.top_block {
  position: relative;
  height: 600px;
  background: url(../img/background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: white;
}

.top_block__button {
  text-align: center;
  margin: 150px;
}

.top_block__button a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.top_block__button__left {
  border: 2px solid white;
  padding: 10px 30px;
  margin-right: 20px;
}

.top_block__button__right {
  background-color: #01a79e;
  padding: 12px 32px;
}

.top_block__arrow {
  width: 15px;
  height: 15px;
  margin: 0 auto;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  transform: rotate(-45deg);
}

.about_block {
  margin: 150px 100px;
}

.about_us__block_title {
  margin-bottom: 100px;
  color: black;
  text-align: center;
}

.about_us__sub-title {
  width: 800px;
  margin: 0 auto;
  font-size: 20px;
}

.about_block__column {
  display: flex;
}

.column__about_us {
  position: relative;
  width: 33.333333333333333333%;
  margin: 0 20px;
}

.column__about_us__img img {
  width: 50px;
  display: block;
  margin: 0 auto;
}

.column__about_us__text {
  text-align: center;
  margin: 20px auto;
}

.column__about_us__title {
  font-weight: 600;
}

.column__about_us__subtitle {
  margin: 0 5px;
  font-size: 20px;
}

.our_services {
  background-color: #dcfffc;
  margin: 150px 0;
}

.services__text {
  text-align: center;
  padding: 200px 0 100px 0;
}

.services__text__sub-title {
  font-size: 20px;
  margin: 0 auto;
  width: 700px;
}

.services__column {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-bottom: 150px;
  justify-content: center;
}

.services__column__block {
  background-color: white;
  width: 28%;
  margin: 15px 15px;
  text-align: center;
}

.services__column__icon img {
  width: 50px;
  margin: 50px auto;
  display: block;
}

.services__column__icon img:nth-child(1) {
  display: none;
}

.services__column__text p {
  font-size: 20px;
  margin: 0 100px;
}

.services__column__button {
  margin: 50px auto;
}

.services__column__button a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: black;
  padding: 10px 20px;
  border: 2px solid black;
}

.services__column__block:hover {
  background-color: #018b79;
  color: white;
  box-shadow: 0px 10px 30px 10px #a8a8a8;
}

.services__column__block:hover .services__column__button a {
  border: 2px solid white;
  color: white;
}

.services__column__block:hover img:nth-child(1) {
  display: block;
}

.services__column__block:hover img:nth-child(2) {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1355px;
  font-family: 'Teko';
  font-size: 25px;
}
