*{
    box-sizing: border-box;
}



.row{
    display: flex;
    
}
.block{
    margin: 20px;
}
.block__image{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 25%;
    overflow: hidden;
    
}
.block__image img{
    width: 300px;
}
.block__text p{
    position: absolute;
    background-color: black;
    opacity: .7;
    top: 300px;
    height: 400px;
    transition: all 1s;
    color: blanchedalmond;
    margin: 0;
    text-align: center;
    padding: 50px;
}
.block__image:hover .block__text p{
    top: 0px;
}



.block__text2 p{
    position: absolute;
    background-color: black;
    opacity: .7;
    right: 300px;
    top: 0;
    width: 300px;
    height: 400px;
    transition:  1s;
    color: blanchedalmond;
    margin: 0;
    text-align: center;
    padding: 50px;
}
.block__image:hover .block__text2 p{
    right: 0px;
}
.block__text3{
    rotate: 100px;
}

.block__text3 {
    position: absolute;
    background-color: black;
    opacity: .7;
    left: 250px;
    top: 250px;
    width: 400px;
    height: 400px;
    transition: all .5s linear;
    color: blanchedalmond;
    margin: 0;
    text-align: center;
    padding: 50px;
    transform: rotateZ(45deg);
}
.text{
    position: absolute;
    color:  blanchedalmond;
    opacity: .7;
    width: 200px;
    height: 200px;
    top: 250px;
    right: -250px;
    text-align: center;
    transition: all .5s linear;
    z-index: 2;
}
.block__image:hover .block__text3 {
    transform: translate(-300px, -300px) rotateZ(45deg);
    
}
.block__image:hover .text{
    top: 35px;
    right: 40px;
}

.button{
    margin: 50px 0 0 50px;
    
}
.button__text{
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: royalblue;
    border-radius: 15px;
    bottom: 20px;
    transition: all 1s;
}
.button__text p{
    text-align: center;
    line-height: 20px;
    font-size: 40px;
    font-weight: bolder;
    color: beige;
    transition: all 1s;
}
.button__shadow{
    position: relative;
    width: 200px;
    height: 100px;
    background-color: darkslategrey;
    border-radius: 15px;
}
.button__text:hover {
    bottom: 10px;
    background-color:aqua ;
}
.button__text:hover p{
    color: black;
}
.button__new{
    position: relative;
    width: 200px;
    height: 100px;
    border-radius: 25px;
    background-color: blueviolet;
    border: 5px solid  rgb(180, 100, 255);
    box-shadow: 10px 10px 20px 1px rgb(148, 148, 148);
    color: white;
    font-size: 45px;
    text-shadow: 0px 5px 4px rgb(48, 48, 48);
    text-align: center;
    line-height: 90px;
    transition: 0.5s linear, background-color 1s linear 1s,
    border 1s linear .5s;
    bottom: -30px;
    left: 50px;
    text-transform: uppercase;
}
.button__new:hover{
    bottom: -35px;
    box-shadow: 5px 5px 10px 1px rgb(39, 39, 39);
    color: rgb(0, 0, 0);
    background-color: yellow;
    border: 5px solid  yellow;
}

.graf__container{
    position: relative;
    background-image: url(img/graf.jpg);
    width: 600px;
    height: 425px;
    
}
.graf__line{
    display: flex;
    align-items: center;
    position: relative;
}
.line{
    width: 10px;
    height: 10px;
    background-color: blue;
    transition: all 1s ease;
}

.circle{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: -15px;
    transition: all 1s ease;
}
.circle::before{
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white;
    left: 3px;
    top: 3px;
}
.gl1{
    position: absolute;
    left: 90px;
    top: 90px;
    
}
.gl1> .circle, .line{
    background-color: blueviolet;
}
.gl2{
    position: absolute;
    left: 90px;
    top: 150px;
}
.gl2 > .circle2, .line2{
    background-color: chartreuse;
}
.gl3{
    position: absolute;
    left: 90px;
    top: 210px;
}
.gl3 > .circle3, .line3{
    background-color: crimson;
}

.graf__container:hover .gl1 .line{
    width: 400px;
}
.graf__container:hover .gl2 .line{
    width: 300px;
}
.graf__container:hover .gl3 .line{
    width: 100px;
}

.anim{
    position: relative;
    width: 200px;
    height: 100px;
}
.anim__block{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aqua;
    z-index: 2;
}
.ab2{
    left: 20px;
    top: -25px;
}
.ab3{
    left: 20px;
    top: 20px;
}
.ab4{
    left: 50px;
    top: -10px;
}
.ab5{
    left: 60px;
    bottom: 30px;
}
.ab6{
    left: 85px;
}
.rain{
    position: absolute;
    width: 20px;
    height: 30px;
    left: 30px;
    top: 30px;
    border-radius: 0 0 50% 50%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid blue;
    z-index: 1;
}
.rn2{
    left: 10px;
    top: 5px;
}
.anim:hover .rain{
    animation: rain .7s infinite ease-out;
}
.anim:hover .rn2{
    animation: rn2 .7s infinite .3s ease-out;
}
.anim:hover .rn3{
    animation: rn3 .7s infinite  ease-out;
}
.anim:hover .rn4{
    animation: rn4 .7s infinite .3s ease-out;
}
.anim:hover .rn5{
    animation: rn5 .7s infinite  ease-out;
}
@keyframes rain{
    0%{
        top: 0;
        left: 0;
    }
    50%{

    }
    80%{
        opacity: 1;
    }
    100%{
        left: 0;
        opacity: 0;
        top: 100px; 
    }
}
@keyframes rn2{
    0%{
        top: 0px;
        left: 20px;
    }
    50%{

    }
    80%{
        opacity: 1;
    }
    100%{
        left: 20px;
        opacity: 0;
        top: 100px; 
    }
}
@keyframes rn3{
    0%{
        top: 0px;
        left: 50px;
    }
    50%{

    }
    80%{
        opacity: 1;
    }
    100%{
        left: 50px;
        opacity: 0;
        top: 100px; 
    }
}
@keyframes rn4{
    0%{
        top: 0px;
        left: 80px;
    }
    50%{

    }
    80%{
        opacity: 1;
    }
    100%{
        left: 80px;
        opacity: 0;
        top: 100px; 
    }
}
@keyframes rn5{
    0%{
        top: 0px;
        left: 100px;
    }
    50%{

    }
    80%{
        opacity: 1;
    }
    100%{
        left: 100px;
        opacity: 0;
        top: 100px; 
    }
}


.menu{
    height: 325px;
    overflow: hidden;
    position: relative;
}
.menu__button{
    position: relative;
    width: 100px;
    height: 50px;
    background-color: cadetblue;
    transition: 1s ease;
    z-index: 2;
}
.menu__button a{
    position: absolute;
    text-decoration: none;
    color: white;
    left: 35px;
    top: 15px; 
}
.button__icon{
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 10px solid transparent;
    border-left: 10px solid black ;
    border-bottom: 10px solid transparent;
    right: 5px;
    top: 15px;
    transition: .5s linear;

}
.menu__button2{
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: thistle;
    top: -230px;
    transition: .5s linear;
}
.menu__conteiner{
    position: absolute;
}
.nav1{
    margin-top: 10px;
}
.nav2{
    margin-top: 70px;
}
.nav3{
    margin-top: 130px;
}
.menu:hover .menu__button2{
    top: 0;
}
.menu:hover .menu__button{
    background-color: yellowgreen;
}
.menu:hover .button__icon{
    transform: rotate(90deg);
    top: 20px;
}

.menu2{
    position: relative;
}
.menu2__button{
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: tomato;
    text-align: center;
    line-height: 50px;
    z-index: 1;
}

.menu2__button_container{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 0;
    transition: all 1s linear;
    background-color: tomato;
    transition: all 1s;
}

.menu2:hover .menu2__button_container{
    animation: anim-container .5s linear forwards;
    transition: all 1s linear;
}
@keyframes anim-container {
    0%{
        left: 0px;
        height: 5px;
    }
    80%{
        height: 5px;
    }
    100%{
        height: 50px;
        left: 100px;
    }
}


.block_circle{
    margin-left: 150px;
    position: relative;
}
.circle_grapf{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 30px solid cornflowerblue;
}
.circle_grapf2{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 30px  solid rgb(0, 255, 255);
    border-left:30px solid transparent ;
    border-color: rgb(0, 255, 255) rgb(0, 255, 255) rgb(0, 255, 255) transparent ;
    transition: 1s linear;
}
.circle_grapf2:hover{
    transform: rotate(360deg);
}


