*{
    box-sizing: border-box;
}



.row{
    display: flex;
    
}
.block{
    margin: 20px;
}
.block__image{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 25%;
    overflow: hidden;
    
}
.block__image img{
    width: 300px;
}
.block__text p{
    position: absolute;
    background-color: black;
    opacity: .7;
    top: 300px;
    height: 400px;
    transition: all 1s;
    color: blanchedalmond;
    margin: 0;
    text-align: center;
    padding: 50px;
}
.block__image:hover .block__text p{
    top: 0px;
}



.block__text2 p{
    position: absolute;
    background-color: black;
    opacity: .7;
    right: 300px;
    top: 0;
    width: 200px;
    height: 400px;
    transition:  1s;
    color: blanchedalmond;
    margin: 0;
    text-align: center;
    padding: 50px;
}
.block__image:hover .block__text2 p{
    right: 0px;
}
.block__text3{
    rotate: 100px;
}

.block__text3 {
    position: absolute;
    background-color: black;
    opacity: .7;
    left: 200px;
    top: 200px;
    width: 400px;
    height: 400px;
    transition: all .5s linear;
    color: blanchedalmond;
    margin: 0;
    text-align: center;
    padding: 50px;
    transform: rotateZ(45deg);
}
.text{
    position: absolute;
    color:  blanchedalmond;
    opacity: .7;
    width: 200px;
    height: 200px;
    top: 250px;
    right: -250px;
    text-align: center;
    transition: all .5s linear;
    z-index: 2;
}
.block__image:hover .block__text3 {
    transform: translate(-250px, -250px) rotateZ(45deg);
    
}
.block__image:hover .text{
    top: 35px;
    right: 40px;
}

.button{
    margin: 50px 0 0 50px;
    
}
.button__text{
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: royalblue;
    border-radius: 15px;
    bottom: 20px;
    transition: all 1s;
}
.button__text p{
    text-align: center;
    line-height: 20px;
    font-size: 40px;
    font-weight: bolder;
    color: beige;
    transition: all 1s;
}
.button__shadow{
    position: relative;
    width: 200px;
    height: 100px;
    background-color: darkslategrey;
    border-radius: 15px;
}
.button__text:hover {
    bottom: 10px;
    background-color:aqua ;
}
.button__text:hover p{
    color: black;
}
.button__new{
    position: relative;
    width: 200px;
    height: 100px;
    border-radius: 25px;
    background-color: blueviolet;
    border: 5px solid  rgb(180, 100, 255);
    box-shadow: 10px 10px 20px 1px rgb(148, 148, 148);
    color: white;
    font-size: 45px;
    text-shadow: 0px 5px 4px rgb(48, 48, 48);
    text-align: center;
    line-height: 90px;
    transition: 0.5s linear, background-color 1s linear 1s,
    border 1s linear .5s;
    bottom: -30px;
    left: 50px;
    text-transform: uppercase;
}
.button__new:hover{
    bottom: -35px;
    box-shadow: 5px 5px 10px 1px rgb(39, 39, 39);
    color: rgb(0, 0, 0);
    background-color: yellow;
    border: 5px solid  yellow;
}

.graf__container{
    position: relative;
    background-image: url(img/graf.jpg);
    width: 600px;
    height: 425px;
    
}
.graf__line{
    display: flex;
    align-items: center;
    position: relative;
}
.line{
    width: 10px;
    height: 10px;
    background-color: blue;
    transition: all 1s ease;
}

.circle{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: -15px;
    transition: all 1s ease;
}
.circle::before{
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white;
    left: 3px;
    top: 3px;
}
.gl1{
    position: absolute;
    left: 90px;
    top: 90px;
    
}
.gl1> .circle, .line{
    background-color: blueviolet;
}
.gl2{
    position: absolute;
    left: 90px;
    top: 150px;
}
.gl2 > .circle2, .line2{
    background-color: chartreuse;
}
.gl3{
    position: absolute;
    left: 90px;
    top: 210px;
}
.gl3 > .circle3, .line3{
    background-color: crimson;
}

.graf__container:hover .gl1 .line{
    width: 400px;
}
.graf__container:hover .gl2 .line{
    width: 300px;
}
.graf__container:hover .gl3 .line{
    width: 100px;
}

.anim{
    width: 100px;
    height: 100px;
    background-color: blue;
    
}
.anim:hover .anim__block{
    animation: anim 1s linear infinite ;
}
.anim__block{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: darkslateblue;
    margin: 0 auto;
}


@keyframes anim{
    0%{
       top: 600px;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 700px;
    }
}


.menu{
    margin: 50px;
    height: 325px;
    overflow: hidden;
    position: relative;
}
.menu__button{
    position: relative;
    width: 100px;
    height: 50px;
    background-color: cadetblue;
    transition: 1s ease;
    z-index: 2;
}
.menu__button a{
    position: absolute;
    text-decoration: none;
    color: white;
    left: 35px;
    top: 15px; 
}
.button__icon{
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 10px solid transparent;
    border-left: 10px solid black ;
    border-bottom: 10px solid transparent;
    right: 5px;
    top: 15px;
    transition: .5s linear;

}
.menu__button2{
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: thistle;
    top: -230px;
    transition: .5s linear;
}
.menu__conteiner{
    position: absolute;
}
.nav1{
    margin-top: 60px;
}
.nav2{
    margin-top: 120px;
}
.nav3{
    margin-top: 180px;
}
.menu:hover .menu__button2{
    top: 0;
}
.menu:hover .menu__button{
    background-color: yellowgreen;
}
.menu:hover .button__icon{
    transform: rotate(90deg);
    top: 20px;
}

.menu2{
    position: relative;
}
.menu2__button{
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: chocolate;
}

.menu2_container{
    position: absolute;
    width: 100px;
    height: 10px;
    background-color: coral;
    top: 0;
    left: 10px;
}
.menu2_container div{
    color: white;
    text-align: center;
    margin: 25px 0;
}
.menu2__button:hover .menu2_container{
    animation: anim_conteiner 0.5s linear forwards;
}
@keyframes anim_conteiner{
    0%{
        left: 10px;
    }
    50%{
        
    }
    80%{
        left: 100px;
        height: 10px;
    }
    100%{
        left: 100px;
        height: 150px;
    }
}

