*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: darkslategray;
}
.grid-container{
    display: grid;
    margin: 50px 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.grid__item{
    color: white;
    text-align: center;
    border: 2px dashed rgba(255, 255, 255, 0.349);
    padding: 30px;
}