*{
    box-sizing: border-box;
}
.page{
    width: 100%;
}
.todo_container{
    width: 400px;
    margin: 100px auto;
    text-align: center;
}
.todo_list{
    background-color: cadetblue;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.todo_form{
    padding: 10px 0;
}
.todo_elements{
    padding-bottom: 10px;
}
.todo_elements div{
    background-color: darkorange;
    height: 40px;
    padding: 5px 20px;
    margin: 5px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.elem_paragraph{
    display: inline-block;
    line-height: 0px;
}
.error {
    margin: 15px 0 0 0;
    padding: 0;
    color: rgb(185, 0, 0);
    font-weight: bold;
}